DJANGO_ENV=development
#DJANGO_ENV=production
SECRET_KEY=<para generar el SK se debe ejecutar el archivo generador_sk_django.py>
SUPERUSER_EMAIL=<poner el correo que deseen>
SUPERUSER_PASSWORD=<poner la contraseña que deseen>
ACCESS_TOKEN_LIFETIME_MINUTES=<poner los minutos que deseen>
REFRESH_TOKEN_LIFETIME_DAYS=<poner los días que deseen>

# Debug solo para desarrollo
DEBUG=True

# Dominio donde estará alojado el proyecto front en producción
PRODUCTION_ORIGIN=https://developer.jquiroz.net/ o cualquier otro DNS donde este el proyecto front
# Dominios donde estará alojado el proyecto front en desarrollo
DEVELOPMENT_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173 o cualquier DNS donde este montado localmente
# Dominio donde estará alojado el backend en producción
ALLOWED_HOSTS_PRODUCTION_ORIGIN=api.ejemplo.com
# Dominios donde estará alojado el backend en desarrollo
ALLOWED_HOSTS_DEVELOPMENT_ORIGINS=127.0.0.1,localhost

# Database settings (para PostgreSQL, por ejemplo)
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=nombre_de_tu_bd
DATABASE_USER=usuario
DATABASE_PASSWORD=contraseña
DATABASE_HOST=localhost
DATABASE_PORT=5432