-i https://pypi.org/simple
asgiref==3.9.0; python_version >= '3.9'
attrs==25.3.0; python_version >= '3.8'
django==5.2.4; python_version >= '3.10'
djangorestframework==3.16.0; python_version >= '3.9'
djangorestframework-simplejwt==5.5.1; python_version >= '3.9'
drf-spectacular==0.28.0; python_version >= '3.7'
drf-yasg==1.21.10; python_version >= '3.6'
inflection==0.5.1; python_version >= '3.5'
iniconfig==2.1.0; python_version >= '3.8'
jsonschema==4.24.1; python_version >= '3.9'
jsonschema-specifications==2025.4.1; python_version >= '3.9'
packaging==25.0; python_version >= '3.8'
pluggy==1.6.0; python_version >= '3.9'
psycopg2-binary==2.9.10; python_version >= '3.8'
pygments==2.19.2; python_version >= '3.8'
pyjwt==2.10.1; python_version >= '3.9'
pytest==8.4.1; python_version >= '3.9'
pytest-django==4.11.1; python_version >= '3.8'
python-decouple==3.8;
pytz==2025.2;
pyyaml==6.0.2; python_version >= '3.8'
referencing==0.36.2; python_version >= '3.9'
rpds-py==0.26.0; python_version >= '3.9'
sqlparse==0.5.3; python_version >= '3.8'
typing-extensions==4.14.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
uritemplate==4.2.0; python_version >= '3.9'
django-filter==25.1; python_version >= '3.9'
drf-spectacular==0.28.0; python_version >= '3.9'
djangorestframework_camel_case==1.4.2;
coverage==7.10.1; python_version>= '3.9'
pytest==8.4.1; python_version>= '3.9'
pytest-cov==6.2.1; python_version>= '3.9'
pytest-html==4.1.1; python_version>='3.8'
pytest-md-report==0.7.0; python_version>='3.9'
prospector==1.17.3; python_version>='3.9'
pylint==3.3.7; python_version>='3.9'
pylint-django==2.6.1; python_version>='3.9'
safety==3.6.2; python_version>='3.8'
pytest-xdist==3.8.0; python_version>='3.9'
cryptography==45.0.6;
